extends layout
block content
  div(id="loader-wrap")
    div(class={loader: true, ready})
      img(class='mono-loader' width="100px" src="/images/border-monogram-white.svg")
      img(class="r" width="50px" src="/images/r.svg")
      br
      p(id='countdown')

  if ready
    div(class="calendar-container")
      each day in revealed
        div(class="row revealed")
          div(class={active: day.today, target: day.target, number: true})
            img(src="/images/numbers/highlighted/#{day.day}.svg")
          div(class="meta")
            div(class="coffee")
              strong= day.coffee
            div(class="roaster")= day.roaster
            div(class="roaster-location")= day.location
      
      each day in remaining
        div(class={row: true, 'remaining-days': true, target: day.target})
          div(class="number")
            img(src="/images/numbers/standard/#{day.day}.svg")
          div(class="meta")
      
    div(class="revolver-banner")
      div
        img(src="/images/revolver.svg")
      p ADVENT CALENDAR 2020

    div(id="csrf")= code

    div(class="monogram current-day")
      img(id="monobutton" src="/images/monogram.svg")